*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.collapse .navRight{
    margin-left: auto;
}

.navbar .navLeftTitle{
    font-size: 2em;
    cursor: default;
    transform: translateX(-100rem);
    animation: slidex 1s forwards;
}

.navbar .navLeftTitle strong span{
    color: rgb(94, 189, 94);
}


.nav-link strong{
    color: rgb(151, 151, 151);
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1em;
    margin-right: 20px;
}
.nav-item:hover .nav-link strong{
    color: white;
}

.nav-link strong::before,.nav-link strong::after{
    content: '';
    position: absolute;
    background-color: rgb(94, 189, 94);
    height: 3px;
    width: 100%;
    left: 0;
    transform: scaleX(0);
}

.nav-link:hover strong::before,.nav-link:hover strong::after{
    animation: slideIn 0.5s forwards;
}

.nav-link strong::before{
    top: 0;
    transform-origin: right;
}

.nav-link strong::after{
    bottom: 0;
    transform-origin: left;
}

.nav-item:nth-child(1){
    transform: translateX(100rem);
    animation: slidex 1s forwards;
}

.nav-item:nth-child(2){
    transform: translateX(100rem);
    animation: slidex 1.1s forwards;
}

.nav-item:nth-child(3){
    transform: translateX(100rem);
    animation: slidex 1.2s forwards;
}

.nav-item:nth-child(4){
    transform: translateX(100rem);
    animation: slidex 1.3s forwards;
}

.first-container{
    margin: 0;
    padding: 0;
}


.introDiv{
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.introDiv .introLeft{
    display: flex;
    transform: translateX(-100rem);
    animation: slideIn 2s forwards;
}

.introDiv .introRight{
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: white;
    transform: translateX(100rem);
    animation: slideIn 1.8s forwards;
    cursor: default;
}

.introDiv .introRight strong span{
    color: rgb(94, 189, 94);
}


.card .card-body img{
    height: 100%;
    width: 100%;
}

.introLeft .card .card-body{
    margin: 0;
    padding: 0;
    border: 2px solid rgb(85, 84, 84);
}

.contact div:nth-child(1) span a{
    text-decoration: none;
    color: white;
}

.contact div:nth-child(1) span{
    width: 70px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    margin-top: 10px;
}

.contact div:nth-child(1) span:nth-child(3){
    transform: translateX(-100rem);
    animation: slidex 1s forwards;
}
.contact div:nth-child(1) span:nth-child(2){
    transform: translateX(-100rem);
    animation: slidex 1.1s forwards;
}
.contact div:nth-child(1) span:nth-child(1){
    transform: translateX(-100rem);
    animation: slidex 1.2s forwards;
}

.qualification{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: default;
}

.qualification .card{
    border: none;
}

.qualification .card .card-header{
    text-align: center;
    font-size: 2rem;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    margin-top: 10px;
    border-radius: 7px 7px 0px 0px;
}

.qualification .card .card-body{
    background-color: rgb(37, 37, 37);
    color: rgb(94, 189, 94);
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.qualification .card .card-footer{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    border-radius: 0px 0px 7px 7px;
    padding-bottom: 7px;
}

.qualification .card:nth-child(1){
    transform: translateX(100rem);
    animation: slidex 1s forwards;
}
.qualification .card:nth-child(2){
    transform: translateX(100rem);
    animation: slidex 1.2s forwards;
}
.qualification .card:nth-child(3){
    transform: translateX(100rem);
    animation: slidex 1.4s forwards;
}

.footer-part{
    min-height: 100px;
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    color: rgb(94, 189, 94);
    margin-top: 50px;
    padding-bottom: 20px;
}











@keyframes slidex{
    from{

    }
    to{
        transform: translateX(0);
    }
}


@keyframes slideIn{
    from{

    }
    to{
        transform: scaleX(1);
    }
}
