.boxes a{
    text-decoration: none;
    text-align: center;
}

.boxes a .childbox{
    color: white;
    background-color: rgb(94, 189, 94);
    width: 250px;
    height: 250px;
    font-size: 4rem;
    display: inline-block;
    border-radius: 7px;
    margin: 10px;
    padding-top: 65px;
}

.footer-last{
    color: white;
}
.footer-last a{
    text-decoration: none;
    color: rgb(94, 189, 94);
}